
<div id="contenedor">
  <div id="compra">
    <div class="titulo">
      VOLL - DOMMÍ
    </div>
    <div class="botonCompra">
      <a href="accesorios.html">
        <button>CATALOGO</button>
      </a>
    </div>
  </div>

  <div class="fotoProducto">
    <img class="vasoFoto" src="assets/images/vaso1.png"/>
  </div>

  <div class="infoProducto">
    <div class="textoProducto">
      <h2>Vaso gastronómico Voll-Dommi 33cl (6 u.)</h2>
      <p>Su forma esbelta deja ver el largo recorrido de las burbujas y realza las notas a cereal en el paso por
        boca. La parte superior estrecha favorece una buena retención de espuma y aroma de principio a fin.</p>
    </div>

    <div class="compraProducto">
      <form>
        <table>
          <tr>
            <td>Precio 16,50 €</td>
          </tr>
          <tr>
            <td id="añadirCarrito">
              <input type="number" value="1" min="1" id="carritoCompra">
              <label for="carritoCompra">
                <button class="añadir">Añadir a la cesta</button>
              </label>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>

