<div id="navbar"></div>
<div id="catalogo">
  <a routerLink="/clasica">
    <div class="clasica">
      <img src="assets/images/clasica.png" />
      <h2>Voll - Dommi Original</h2>

    </div>
  </a>
  <div class="limon">
    <img src="assets/images/limon.png"/>
    <h2>Voll - Dommi Lemon Twist</h2>

  </div>
  <div class="tostada">
    <img src="assets/images/tostada.png"/>
    <h2>Voll - Dommi Tostada</h2>

  </div>
  <div class="tropical">
    <img src="assets/images/tropical.png" alt="#">
    <h2>Voll - Dommi Tropic</h2>

  </div>
  <div class="ipa">
    <img src="assets/images/IPA.png" alt="#">
    <h2>Voll - Dommi IPA</h2>

  </div>
  <div class="mediterranea">
    <img src="assets/images/mediterranea.png" alt="#">
    <h2>Voll - Dommi Marel</h2>

  </div>
  <div class="cerocero">
    <img src="assets/images/cerocero.png"/>
    <h2>Voll - Dommi 00 Original</h2>

  </div>
  <div class="cerolimon">
    <img src="assets/images/cerocerolimon.png"/>
    <h2>Voll - Dommi 00 Citrus</h2>

  </div>
  <div class="cerotostada">
    <img src="assets/images/cerocerotostada.png" alt="#">
    <h2>Voll - Dommi 00 Caramelo</h2>

  </div>
</div>


