<!-- SECCIÓN DE FILTROS -->
<div class="filtros">
  <div class="buscador">
    <input
      type="text"
      [(ngModel)]="searchText"
      (input)="filtrarCervezas()"
      placeholder="Buscar cerveza..."
    >
  </div>

  <div class="categoria">
    <select
      [(ngModel)]="selectedCategory"
      (change)="filtrarCervezas()"
    >
      <option value="todas">Todas las cervezas</option>
      <option value="original">Voll-Dommi Original</option>
      <option value="00">Voll-Dommi 00 (Sin alcohol)</option>
    </select>
  </div>
</div>

<!-- CATÁLOGO -->
<div id="catalogo">
  <ng-container *ngFor="let cerveza of cervezasFiltradas">

    <a *ngIf="cerveza.ruta" [routerLink]="cerveza.ruta">
      <div [class]="cerveza.clase" [attr.data-categoria]="cerveza.categoria">
        <img [src]="cerveza.imagen" [alt]="cerveza.nombre" />
        <h2>{{ cerveza.nombre }}</h2>
      </div>
    </a>


    <div
      *ngIf="!cerveza.ruta"
      [class]="cerveza.clase"
      [attr.data-categoria]="cerveza.categoria"
    >
      <img [src]="cerveza.imagen" [alt]="cerveza.nombre" />
      <h2>{{ cerveza.nombre }}</h2>
    </div>
  </ng-container>


  <div class="no-resultados" *ngIf="cervezasFiltradas.length === 0">
    <div class="no-resultados-icon">🍺</div>
    <h3>No se encontraron cervezas</h3>
    <p>Intenta con otros términos de búsqueda o categoría</p>
  </div>
</div>
