<div id="navbar"></div>

<div id="contenedorGeneral">
  <div id="ropa">

    <div class="camiseta">
      <a routerLink="/camiseta">
        <img src="assets/images/camiseta.png">
        <h2>Camiseta</h2>
        <p>16,50</p>
      </a>
    </div>


    <div class="bañador">
      <img src="assets/images/bañador.png"/>
      <h2>Bañador</h2>
      <p>12,99</p>
    </div>

    <div class="gafas">
      <img src="assets/images/gafas.png">
      <h2>Gafas</h2>
      <p>12,99</p>
    </div>

    <div class="gorra">
      <img src="assets/images/gorra%20.png">
      <h2>Gorra</h2>
      <p>12,99</p>
    </div>

    <div class="crocs">
      <img src="assets/images/crocs.png">
      <h2>Crocs</h2>
      <p>12,99</p>
    </div>
  </div>

</div>

