@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

body {
  font-family: "Oswald";
}

article {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 250px;
}

#formulario {
  width: 1000px;
  align-self: center;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 5px 2px lightgrey;
  border-radius: 10px;
  background-color: #334c71;
}

#registro {
  font-size: 60px;
  color: #f7cb54;
  margin-bottom: 20px;
}


table {
  width: 100%;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;

}

tr {
  display: flex;
  justify-content: center;
  width: 100%;
}

.campos {
  border-radius: 5px;
  font-size: 18px;
  width: 580px;
  height: 40px;
  margin-bottom: 10px;
  font-family: "Oswald";
}

button {
  margin-bottom: 45px;
  font-family: "Oswald";
  font-size: 20px;
}

#login {
  width: 170px;
  height: 50px;
  border-radius: 10px 0px 0px 10px;
  background: white;
  cursor: pointer;
  transition: background 1s ease;
}

#login:hover {
  background: linear-gradient(to bottom, #f7cb54, #C9A644);
  color: white;
}

#singin {
  color: white;
  width: 170px;
  height: 50px;
  border-radius: 0px 10px 10px 0px;
  background: linear-gradient(to bottom, #f7cb54, #C9A644);
}

#acceder {
  margin-bottom: 15px;
  margin-top: 25px;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  transition: background 1s ease;
}

#acceder:hover {
  background: linear-gradient(to bottom, #f7cb54, #C9A644);
  color: white;
}
