<div class="container">
  <div class="listaProductos">
    <div class="itemProductos" *ngFor="let item of items">
      <img [src]="item.producto.imagen" [alt]="item.producto.nombre">

      <div class="productoInfo">
        <h3>{{ item.producto.nombre }}</h3>
        <p class="precio">
          {{ item.producto.precio | number:'1.2-2' }} €
        </p>
      </div>


      <div class="cantidad">
        <button class="botonCantidad" (click)="restarCantidad(item)">−</button>
        <span>x{{ item.cantidad }}</span>
        <button class="botonCantidad" (click)="sumarCantidad(item)">+</button>
      </div>
      <div class="borrar">
        <button class="borrar" (click)="eliminar(item)">X</button>
      </div>
    </div>

    <div class="back">
      <a routerLink="/catalogo">
        <span>← Seguir comprando</span>
      </a>
    </div>

  </div>

  <div class="carritoResumen">
    <h2>Resumen del carrito</h2>

    <div class="sumaProductos">
      <span>Total productos</span>
      <span>{{ totalProductos | number:'1.2-2' }} €</span>
    </div>

    <div class="sumaProductos">
      <span>Total descuentos</span>
      <span>0,00 €</span>
    </div>

    <div class="sumaProductos">
      <span>Gastos de envío</span>
      <span>0,00 €</span>
    </div>

    <div class="sumaProductos total">
      <strong>Total pedido</strong>
      <strong>{{ totalPedido | number:'1.2-2' }} €</strong>
    </div>

    <button
      class="botonCheckout"
      [disabled]="items.length === 0"
      (click)="abrirPopup()">
      Confirmar pago
    </button>
  </div>
  <div class="modal-fondo" *ngIf="mostrarPopup">
    <div class="modal">
      <h2>Confirmar compra</h2>
      <form>
        <input
          type="text"
          placeholder="Num. Tarjeta"
          [(ngModel)]="numTarjeta"
          name="numTarjeta"
          required
        >

        <input
          type="text"
          placeholder="CVV"
          [(ngModel)]="cvv"
          name="CVV"
          required
        >

        <div class="acciones">
          <button type="button" (click)="cerrarPopup()">Cancelar</button>
          <button type="button" (click)="confirmarCompra()">Confirmar</button>
        </div>
      </form>
    </div>
</div>
  <div class="overlay" *ngIf="mostrarPopup">
    <div class="popup">

      <h2>Confirmar compra</h2>

      <form>
        <label>
          Num. Tarjeta
          <input type="text" [(ngModel)]="numTarjeta" name="numTarjeta">
        </label>

        <label>
          CVV
          <input type="text" [(ngModel)]="cvv" name="CVV">
        </label>

        <div class="acciones">
          <button type="button" (click)="confirmarCompra()">
            Confirmar compra
          </button>

          <button type="button" class="cancelar" (click)="cerrarPopup()">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

