<div id="navbar"></div>
<div id="contenido">
  <div id="accesorios">

    <a href="Vaso.html">

      <div class="vaso1">
        <img src="../Imagenes/vaso1.png"/>
        <h2>Vaso </h2>
        <p>16,50</p>
      </div>
    </a>

    <div class="vaso2">
      <img src="../Imagenes/vaso2.png">
      <h2>Vaso </h2>
      <p>12,99</p>
    </div>

    <div class="vaso3">
      <img src="../Imagenes/vaso3.png">
      <h2>Vaso </h2>
      <p>12,99</p>
    </div>

    <div class="jarra1">
      <img src="../Imagenes/jarra1.png">
      <h2>Jarra</h2>
      <p>12,99</p>
    </div>

    <div class="jarra2">
      <img src="../Imagenes/jarra2.png">
      <h2>Jarra</h2>
      <p>12,99</p>
    </div>

    <div class="jarra3">
      <img src="../Imagenes/jarra3.png">
      <h2>Jarra</h2>
      <p>12,99</p>
    </div>

    <div class="copa1">
      <img src="../Imagenes/copa1.png">
      <h2>copa</h2>
      <p>12,99</p>
    </div>

    <div class="copa2">
      <img src="../Imagenes/copa2.png">
      <h2>copa</h2>
      <p>12,99</p>
    </div>

    <div class="copa3">
      <img src="../Imagenes/copa3.png">
      <h2>copa</h2>
      <p>12,99</p>
    </div>

    <div class="posavasos1">
      <img src="../Imagenes/pvasos1.png">
      <h2>posavasos</h2>
      <p>12,99</p>
    </div>

    <div class="posavasos2">
      <img src="../Imagenes/pvasos2.png">
      <h2>posavasos</h2>
      <p>12,99</p>
    </div>

    <div class="posavasos3">
      <img src="../Imagenes/pvasos3.png">
      <h2>posavasos</h2>
      <p>12,99</p>
    </div>


  </div>
</div>

