
<div id="general">
  <div id="compra">
    <div class="titulo">
      VOLL - DOMMÍ
    </div>
    <div class="botonCompra">
      <a routerLink="/cerveza">
        <button>CATALOGO</button>
      </a>
    </div>
  </div>


  <img class="logoanimacion" src="assets/images/Voll-Dommi.png"/>
  <img class="botellin" src="assets/images/clasicav2.png"/>
  <div class="texto izquierda">
    <h2>Hace ya muchos años,</h2>
    <p>el joven Jordi Cordomí decidió escapar del esplai, cansado de los cánticos, las dinámicas y los turnos de
      fregadero. Con una mochila medio vacía y el corazón lleno de ilusiones, emprendió su propia aventura hacia
      un destino desconocido.

      Su viaje lo llevó por caminos polvorientos y festivales populares, hasta que, al llegar a la costa
      mediterránea, descubrió su verdadera vocación:</p>

    <h2>
      Beber <span class="resaltado">cerveza.</span>
    </h2>
  </div>
  <div class="texto derecha">
    <h2>Voll - Dommi Original</h2>
    Una cerveza equilibrada y refrescante, con un sabor suave y maltoso que celebra la tradición cervecera. Su aroma
    limpio y cuerpo ligero la convierten en la elección perfecta para cualquier ocasión, ideal para quienes buscan
    una experiencia auténtica y confiable en cada sorbo.
    <div class="precios">
      <form>
        <table>
          <tr>
            <td>
              <input type="radio" name="precio" id="latas">
              <label for="latas">Pack (6 x33cl Latas)</label>
            </td>
          </tr>

          <tr>
            <td>
              <input type="radio" name="precio" id="botellas">
              <label for="botellas">Caja (12 x25cl Botellas)</label>
            </td>
          </tr>

          <tr>
            <td id="añadirCarrito">
              <input type="number" value="1" min="1" id="carritoCompra">
              <label for="carritoCompra">
                <button class="añadir">Añadir a la cesta</button>
              </label>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
