
<div id="general">
  <div id="compra">
    <div class="titulo">
      VOLL - DOMMÍ
    </div>
    <div class="botonCompra">
      <a href="ropa.html">
        <button>CATALOGO</button>
      </a>
    </div>
  </div>


  <main class="producto">

    <div class="galeria">
      <img src="../imagenes/camiseta.png" alt="Camiseta frente">
      <img src="../imagenes/camisetaDetras.png" alt="Camiseta espalda">
    </div>

    <div class="info">
      <h2>Camiseta Voll-Dommi manga corta</h2>
      <p class="precio">17,99 €</p>
      <p class="color">Color: Blanco</p>

      <div class="tallas">
        <button>XS</button>
        <button>S</button>
        <button>M</button>
        <button>L</button>
        <button class="selected">XL</button>
      </div>


      <div class="cantidad">
        <button id="menos">−</button>
        <input type="number" id="cantidad" value="1" min="1">
        <button id="mas">+</button>
      </div>


      <button class="botonCesta">AÑADIR A LA CESTA</button>


      <div class="pago">
        <p>Paga en 3 plazos sin intereses con PayPal.</p>
      </div>

      <div class="exclusivo">
        <p><strong>Exclusivo online:</strong> Impresión bajo demanda. No se aceptan devoluciones.</p>
      </div>
    </div>
  </main>

</div>
